.count {
  width: 100%;
  border: 1px solid var(--border-color);
  background: var(--bg);
  &>header{
    border-bottom: 1px solid var(--border-color);
  }
  header {
    padding: 10px 0;
    background-color: var(--bg-second);
    span {
      margin-left: 5%;
      cursor: pointer;
      color: var(--main-text-color);
    }
  }
  .list {
    box-sizing: border-box;
    // padding: 0 10px;
  }
}
