    .bottomframe{
        width: 100%;
        background-color: var(--bg-footer);
        border-top:1px solid var(--border-color);

            width: 100%;
            height: 110px;
            background: var(--bg-footer);
            // margin-bottom: 10px;
            min-height: 100%;
          
        .ul{
            width: 10%;
            height: 25px;
            margin: 0px auto;
            display: flex;
            justify-content: space-around;
            text-align: center;
            line-height: 70px;
        }
        .size{
            width: 100%;
            height: 43px;
            margin: 0px auto;
            text-align: center;
            line-height: 5px;
            color: var(--blockquote-color);
            font-size: 12px;
            margin-top: 35px;
            p a{
                color: var(--blockquote-color);
            }
        }
    }