*{
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
}
.top{
    width: 40px;
    height: 0px;
    overflow: hidden;
    color: var(--disable-text-color);
    text-align: center;
    background-color: var(--bg-second);
    border-radius: 20px;
    transition: all 0.3s;
    position: fixed;
    right: 10%;
    bottom: 5%;
    line-height: 40px;
}
.xian{
    height: 40px;
}