.copy-btn{
  // position: absolute;
  right: 5px;
  top: 3px;
  border: none;
  font-size: 12px;
  color: #8c8c8ccc;
  background: transparent;
}
pre{
  position: relative;
  max-height: 400px;
  padding-top: 30px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: var(--bg-code);
  font-size: 1em;
  &::before {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(https://wipi.oss-cn-shanghai.aliyuncs.com/2020-07-12/97e4eed2-a992-4976-acf0-ccb6fb34d308.png);
    background-position: 10px 10px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: var(--bg-code);
    content: '';
  }
  code{
    background-color: var(--bg-code);
  }
}