.home {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background: var(--bg-body);
  .lefttop {
    width: 100%;
    height: 93px;
    background: var(--bg-second);
    text-align: center;
    p {
      color: var(--main-text-color);
    }
    p span {
      font-size: 20px;
      color: var(--primary-color);
    }
  }
  .leftcenter {
    width: 100%;
    height: 116px;
    background: var(--bg-second);
    margin-top: 1rem;
    .top {
      width: 100%;
      height: 50px;
      line-height: 50px;
      margin-left: 10px;
      font-weight: 800;
      color: var(--main-text-color);
      border-bottom: 1px solid var(--border-color);
    }
    .bottom {
      width: 100%;
      height: 65px;
      display: flex;
      flex-flow: row wrap;
      .li {
        height: 26px;
        padding: 2px 9px;
        border: 1px solid var(--border-color);
        line-height: 20px;
        text-align: center;
        margin: 20px 8px 10px 6px;
        font-size: 15px;
        a {
          color: var(--main-text-color);
        }
      }
    }
  }
  .leftbottom {
    width: 100%;
    height: 100%;
    background: var(--bg-second);
    margin-top: 1rem;
    .bottomlist {
      width: 100%;
      height: 136px;
      color: var(--main-text-color);
      border-bottom: 1px solid var(--border-color);
      .listtop {
        width: 100%;
        height: 24px;
        line-height: 24px;
        margin-left: 10px;
        display: flex;
        div:nth-child(1) {
          margin-right: 10px;
          font-weight: 800;
          font-size: 16px;
        }
        div:nth-child(2) {
          color: var(--main-text-color);
        }
      }
      .listbottom {
        width: 100%;
        height: 112px;
        margin-left: 10px;
        margin-top: 5px;
        display: flex;
        line-height: 40px;
        .img {
          width: 190px;
          height: 100px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .size {
          margin-left: 15px;
          .p {
            span:nth-child(1) {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
