.list{
  background-color: var(--bg-second);
  width: 100%;
  margin: 0 auto;
}
.item{
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  :hover{
    .title{
      color: var(--primary-color);
    }
  }
  header{
    display: flex;
    background-color: var(--bg-second);
    .title{
      margin-right: 10px;
      font-weight: bold;
      font-size: 15px;
      color: var(--main-text-color);
    }
    .time{
      color: var(--main-text-color);
    }
  }
  main{
    width: 100%;
    display: flex;
    .img {
      width: 30%;
      height: 100px;
      margin-right: 40px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .message{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--main-text-color);
    }
  }
}
.item:last-child{
  border-bottom: none;
}