.time {
  background-color: var(--bg-second);
  .top {
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-second);
    text-align: center;
    p {
      margin: 0;
      margin-top: 0.5rem;
    }
    .sum{
      color: var(--main-text-color);
    }
    p:nth-of-type(1) {
      color: var(--primary-color);
      font-size: 1.5rem;
    }
    p:nth-of-type(2) {
      span {
        color: var(--primary-color);
        font-size: 1.1rem;
      }
    }
  }
  .main {
    padding: 1rem 1.3rem;
    h2 {
      color: var(--main-text-color);
      font-size: 1.5rem;
      font-weight: 500;
    }
    & > li {
      padding: 0.5rem 1rem;
      border-radius: 4px;
      h3{
        color: var(--main-text-color);
      }
      ul {
        padding-left: 2.5rem;
        li {
          position: relative;
          opacity: 1;
          height: 48px;
          transform: none;
          padding: 0.5rem 0;
          span:nth-of-type(1) {
            padding-right: 1em;
            margin: 0;
            color: var(--main-text-color);
            font-size: 0.8rem;
          }
          span:nth-of-type(2) {
            font-weight: 900;
            font-size: 16px;
            color: var(--main-text-color);
          }
        }
        li::before {
          position: absolute;
          top: 19px;
          left: -1rem;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          margin-left: -4px;
          background: var(--disable-text-color);
          content: ' ';
        }
        li:hover{
            color: var(--primary-color) !important;
            cursor: pointer;
        }
      }
    }
  }
}
