<template>
  <swiper :indicator-dots="true" :autoplay="true">
    <swiper-item v-for="item in swiperList" :key="item.id">
      <img :src="item.picUrl"/>
    </swiper-item>
  </swiper>
</template>

<script>
import request from "@utils/request";
export default {
  name: "Swiper",
  props:{
    swiperList:{
      type:Array,
      default:()=>[]
    }
  }
}
</script>

<style scoped lang="scss">
img {
  width: 750rpx;
}
</style>