<template>
  <div class="timeLimit">
    <p v-if="list.titleIcon">
      <img :src="list.titleIcon"/>{{list.title}}
      <span @click="hanldmore">更多<b>&gt;</b></span>
    </p>
    <div class="scroll-wrapper">
      <ul>
        <li
          v-for="item in list.listData[0].items64"
          :key="item[0].id"
          @click="()=>hanldDetail(item[0].briefId)"
        >
          <div class="image">
            <img :src="item[0].image"/>
            <div class="price">
              <div class="tatil">
                <div>
                  ￥{{item[0].oldPrice}}
                  <span>
                    ￥{{item[0].price}}
                  </span>
                </div>
              </div>
              <div class="rob">
              </div>
              <a href="">抢</a>
            </div>
          </div>
          <div>
            {{item[0].title}}
          </div>
          <div>
            {{item[0].briefTag}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "TimeLimit",
  props:["list"],
  methods:{
    /**
     * 点击更多的跳转
     */
    hanldmore(){
      wx.switchTab({
        url:'/pages/discounts/index'
      });
    },
    /**
     * 点击跳转详情
     */
    hanldDetail(goodId){
      wx.navigateTo({
        url:"/pages/detail/index?goodId="+goodId
      })
    }
  }
}
</script>

<style scoped lang="scss">
.timeLimit{
  p{
    padding: 20rpx 20rpx;
    span {
      float: right;
    }
    b {
      float: right;
      font-weight: 700;
      color: #ccc;
    }
    img {
      width: 40rpx;
      height: 40rpx;
      vertical-align: top;
      margin-right: 10rpx;
    }
  }
}
.scroll-wrapper{
  width: 750rpx;
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 20rpx;
  box-sizing: border-box;
}
ul {
  display: inline-block;
  li {
    width: 260rpx;
    display: inline-block;
    margin-right: 10rpx;
    .image{
      overflow: hidden;
      position: relative;
      img {
        border-radius: 20rpx;
        width: 100%;
        height: 200rpx;
      }
    }
  }
}
.price{
  width: 100%;
  height: 70rpx;
  position: absolute;
  bottom: 0;
  .tatil{
    width: 100%;
    height: 100%;
    line-height: 70rpx;
    color: #fff;
    background: orange;
    span {
      text-decoration:line-through;
      color: #ccc;
      font-size: 25rpx;
    }
  }
  .rob{
    width: 20%;
    height: 100%;
    padding-right: 10rpx;
    line-height: 70rpx;
    text-align: center;
    color: #fff;
    position: absolute;
    background: red;
    top: 0;
    right: -10rpx;
    transform: skewX(-15deg);
  }
  a{
    line-height: 70rpx;
    color: #fff;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 10rpx;
  }
}
</style>