.article{
  
}
[data-theme='compact'] .antAdvancedSearchForm,
.antAdvancedSearchForm {
  padding: 24px;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 16px;
}

[data-theme='compact'] .antAdvancedSearchForm .ant-form-item,
.antAdvancedSearchForm .ant-form-item {
  display: flex;
}

[data-theme='compact'] .antAdvancedSearchForm .ant-form-item-control-wrapper,
.antAdvancedSearchForm .ant-form-item-control-wrapper {
  flex: 1;
}
.searchResultList{
  background: var(--bg);
  background: rgb(255, 255, 255);
  padding: 24px 12px;
  .btn{
    button {
      margin-right: 8px;
    }
  }
  .newestablish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.1em;
  }
}