<template>
  <scroll-view class="ck" :style="{width:'100%',height:'1000rpx'}" :scroll-top="he" scroll-y="true" enhanced="true">
    <span @click="clclick">滚动</span>
    <div style="width:100%;height:200px;background:red;margin-top:30px;" v-for="item in 10" :id="index" :key="item">
      
    </div>
  </scroll-view>
</template>

<script>
export default {
  data(){
    return{
      he:0
    }
  },
  methods:{
    clclick(){
      this.he = 100;
    }
  }
}
</script>

<style>

</style>