*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    height: 100%;
}
.all{
    height: 100%;
    display: flex;
    .left{
        width: 15%;
        background: #e7eaee;
        .header{
            padding: 0 12px;
            margin-top: 16px;
            // border-bottom: 1px solid #ccc;
            .headertop{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .button{
                width: 100%;
                height: 32px;
                border: none;
                background: #fff;
                border: 1px solid #d9d9d9;
            }
        }
        .main{
            flex: 1;
            padding: 0 12px;
            overflow: auto;
            scroll-behavior: smooth;
            .frame{
                padding: 12px 8px;
                background: #f8f8f8;
                display: flex;
                align-items: center;
                // flex-flow: row wrap;
                justify-content: space-between; 
                margin-top: 10px;
            }
        }
    }
    .right{
        width: 85%;
        position: relative;
        .righthint{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 1.1em;
            font-weight: 500;
        }
    }
}
