.fixe {
  position: fixed;
  // transform: translate(0,190px);
  // margin-top: 50px;
  // max-width: max(336px,208px);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.lowrigh {
  width: 100%;
  height: 184px;
  background: var(--bg-second);
  margin-top: 15px;
  transition: all 0.5s;
  overflow: hidden;
  .articletop {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: var(--main-text-color);
    font-weight: 800;
    border-bottom: 1px solid var(--disable-text-color);
    span {
      margin-left: 10px;
    }
  }
  .articlenext {
    width: 100%;
    height: 133px;
    .ul {
      display: flex;
      flex-flow: row wrap;
      .li {
        height: 26px;
        padding: 2px 9px;
        border: 1px solid var(--border-color);
        line-height: 20px;
        text-align: center;
        margin: 10px 8px 10px 3px;
        a {
          color: var(--main-text-color);
          font-size: 15px;
        }
      }
      .li:hover {
        border: 1px solid var(--primary-color);
      }
      a:hover {
        color: var(--primary-color);
      }
    }
  }
}
