.main {
  width: 100%;
  box-sizing: border-box;
  background: var(--bg-body);
  h4{
    color:var(--main-text-color)
  }
}
.comment {
  // width: 50%;
  height: 222px;
  background: var(--bg-second);
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  box-sizing: border-box;
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    li:nth-of-type(1) {
      width: 49px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--disable-text-color);
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
      }
    }
    li:nth-of-type(1):hover {
      color: var(--primary-color);
    }
    li:nth-of-type(2) {
      button {
        background-color: var(--bg-second);
        border: 1px solid var(--border-color);
        color: var(--main-text-color);
      }
    }
  }
}

textarea,
textarea.ant-input:hover,
textarea:focus {
  border: 1px solid var(--border-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}
textarea.ant-input {
  background-color: var(--bg-second);
}
.ant-modal-footer {
  padding: 0;
}
.ant-col-8 {
  max-width: 10%;
}
.ant-col-16 {
  max-width: 88%;
}
.ant-modal-body {
  padding-bottom: 0px;
}
.ant-form-item-control-input-content {
  button:nth-of-type(2) {
    margin-left: 10px;
  }
}
.top strong::before {
  content: '\300C';
}
.top strong::after {
  content: '\300D';
}

.message {
  // width: 50%;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgb(18 18 18/10%);
  margin-top: 1rem;
  background-color: var(--bg-second);
  margin: 0 auto;
  margin-top: 1rem;
  header {
    display: flex;
    align-items: center;
    .antAvatar {
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      background-color: rgb(82, 196, 26);
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: 'tnum';
      position: relative;
      display: inline-block;
      overflow: hidden;
      color: var(--blockquote-color);
      white-space: nowrap;
      text-align: center;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      line-height: 32px;
      border-radius: 50%;
      .antAvatarString {
        line-height: 32px;
        transform: scale(1) translateX(-50%);
        position: absolute;
        left: 50%;
        transform-origin: 0 center;
      }
    }
    .username {
      color: var(--main-text-color);
      padding: 0 8px;
      strong {
        font-weight: bolder;
      }
    }
  }
  main {
    padding: 12px 0px 12px 40px;
    color: var(--main-text-color);
  }
}
