.siteCardBorderLessWrapper {
  padding: 8px;
  row-gap: 0px;
  ul{
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      padding: 2px 8px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      margin: 0 7px 7px 0;
      color: #8e8787;
      line-height: 1.5em;
      transition: all .2s ease-in-out;
      cursor: pointer;
      &:hover {
        color: #fff;
        background: var(--primary-color);
        border: 1px solid #fff;
      }
    }
  }
}