.about{
  // width: 100%;
  // background-color: var(--bg);
}
.container {
  // width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 21px;
  background-color: var(--bg);
  box-sizing: border-box;
}
.img {
  width: 100%;
  max-width: 768px;
  padding-bottom: 1.5rem;
  margin: 0 auto;
  img {
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
}
.text {
  max-width: 800px;
  padding: 0 8px 21px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin: 0 !important;
    border: 0;
    color: var(--main-text-color);
  }
}
.aboutList{
  width: 100%;
  background-color: var(--bg-body);
  padding: 20px 20px;
  box-sizing: border-box;
  h3{
    text-align: center;
    margin-bottom: 25px;
  }
  .infinite-scroll-component__outerdiv{
    width: 52%;
    background-color: var(--bg-second);
    margin: 0 auto;   
  }
  .aboutMain{
    width: 51%;
    margin: 0 auto;
  }
}
