@import "../../assets/bodyPage.less";
/*小屏幕*/
@media screen and (max-width: 768px) {
  .left{
    width: 90%;
  }
  .height{
    justify-content: space-around;
  }
  .right {
    display: none;
  }
}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
  .left{
    width: 53%;
    margin-left: 64px;
  }
  .right {
    margin-right: 64px;
  }
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
  .left{
    width: 55%;
    margin-left: 64px;
  }
  .right {
    margin-right: 64px;
  }
}
/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
  .left{
    width: 65%;
    margin-left: 64px;
  }
  .right {
    width: 20rem;
    margin-right: 64px;
  }
}
.height {
  width: 100%;
  clear: both;
  display: flex;
  box-sizing: border-box;
  // .globalBody(0,0);
  background-color: var(--bg-body);
  .left{
    margin-top: 1rem;
  }
  .right{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 20rem;
    position: sticky;
    height: 74%;
    top: 10px;
  }
}