[data-theme='compact'] .antAdvancedSearchForm,
.antAdvancedSearchForm {
  padding: 24px;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 16px;
}

[data-theme='compact'] .antAdvancedSearchForm .ant-form-item,
.antAdvancedSearchForm .ant-form-item {
  display: flex;
}

[data-theme='compact'] .antAdvancedSearchForm .ant-form-item-control-wrapper,
.antAdvancedSearchForm .ant-form-item-control-wrapper {
  flex: 1;
}