<template>
  <scroll-view 
    class="detail" 
    :style="{height:headerHeight+'rpx'}" 
    scroll-y="true" @scroll="detailScroll"
    :scroll-top="scrollTop"
  >
    <swiper class="swiper_count" :indicator-dots="true" :autoplay="true">
      <swiper-item 
        v-for="(item,index) in detail.headImgs" 
        :key="index"
        class="swiper_item"
      >
        <img :src="item"/>
      </swiper-item>
    </swiper>
    <div class="tatil">
      <div class="price">
        ￥<strong>{{detail.price}}</strong>
        <span>￥{{detail.cost}}</span>
      </div>
      <div class="sales">
        <p>已售:{{detail.saleTotal}}</p>
        <p>只剩:{{detail.leftTotal}}{{detail.pername}}</p>
      </div>
    </div>
    <div class="count">
      <div class="title_count">
        <div class="title">
          <span>
            {{detail.title}}
          </span>
          <div>
            <span class="iconfont iconliulan">
            </span>
            <p>{{detail.viewTotal}}</p>
          </div>
          <div>
            <span class="iconfont iconshoucang">
            </span>
            <p>收藏</p>
          </div>
        </div>
      </div>
      <div class="tabs">
        <div class="tab_title" :style="{position:pos?'fixed':'static'}">
          <span 
            class="tab_stores" 
            @click="()=>pageScroll('stores')"
            :style="{borderBottom:currTop==='stores'?'6rpx solid red':''}"
          >
            门店
          </span>
          <span 
            class="tab_instructions" 
            @click="()=>pageScroll('instructions')"
            :style="{borderBottom:currTop==='instructions'?'6rpx solid red':''}"
          >
            须知
          </span>
          <span 
            class="tab_goods" 
            @click="()=>pageScroll('goods')"
            :style="{borderBottom:currTop==='goods'?'6rpx solid red':''}"
          >
            详情
          </span>
        </div>
        <div class="stores">
          <h2>适用门店({{instructions.total}})<span>全部适用门店&gt;</span></h2>
          <div class="stores_item" v-for="item in instructions.shops" :key="item.shopId">
            <p>{{item.shopName}}</p>
            <p>
              <span>{{item.avgReview}}</span>
              <span>￥{{item.avgPrice}}/人</span>
              <span>￥{{item.distance.toFixed(1)}}km</span>
            </p>
            <p>{{item.address}}</p>
          </div>
        </div>
      </div>
      <div class="instructions" >
        <h2>活动须知</h2>
        <div v-html="textHtml">
        </div>
      </div>
      <div class="goods">
        <h2>商品详情</h2>
        <div v-html="imgHtml">
        </div>
      </div>
    </div>
  </scroll-view>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import request from "@utils/request.js";
export default {
  name: "index",
  data(){
    return{
      textHtml:'',
      imgHtml:'',
      scrollHeight:0,//tab元素距离顶部的高度
      pos:false,//决定定位还是不定位
      scrollTop:0,//页面滚动的距离
      storesTop:0,//门店到顶部的距离
      instructionsTop:0,//须知到顶部的距离
      goodsTop:0,//详情到顶部的距离
      currTop:"stores",//选中的标题
    }
  },
  computed:{
    ...mapState({
      detail:state=>state.find_house.detail,
      instructions:state=>state.find_house.instructions
    }),
    /**
     * 计算高度的公式
     */
    headerHeight(){
      let systemInfo = wx.getSystemInfoSync();
      // px转换到rpx的比例
      let pxToRpxScale = 750 / systemInfo.windowWidth;
      // 状态栏的高度
      let ktxStatusHeight = systemInfo.statusBarHeight * pxToRpxScale
      // 导航栏的高度
      let navigationHeight = 44 * pxToRpxScale
      // window的高度
      let ktxWindowHeight = systemInfo.windowHeight * pxToRpxScale
      // 屏幕的高度
      let ktxScreentHeight = systemInfo.screenHeight * pxToRpxScale
      // 底部tabBar的高度
      let tabBarHeight = ktxScreentHeight - ktxStatusHeight - navigationHeight - ktxWindowHeight;
      return ktxScreentHeight-ktxStatusHeight;
    }
  },
  methods:{
    ...mapActions({
      getDetail:'find_house/getDetailData',
      getInstructions:'find_house/getInstructions'
    }),
    detailScroll(e){
      let systemInfo = wx.getSystemInfoSync();
      // px转换到rpx的比例
      let pxToRpxScale = 750 / systemInfo.windowWidth;
      if(this.scrollHeight<e.target.scrollTop*pxToRpxScale){
        this.pos = true;
      }else {
        this.pos = false;
      }
      if(e.target.scrollTop<this.instructionsTop){
        this.currTop = 'stores';
      }
      //判断须知
      if(e.target.scrollTop>=this.instructionsTop){
        this.currTop = "instructions";
      }
      //判断详情
      if(e.target.scrollTop>=this.goodsTop){
        this.currTop = 'goods';
      }
    },
    pageScroll(name){
      this.scrollTop = this[name+'Top'];
      this.currTop = name;
    },
    refishHeight(){
      const query = wx.createSelectorQuery()
      let systemInfo = wx.getSystemInfoSync();
      let pxToRpxScale = 750 / systemInfo.windowWidth;
      query.select('.tab_title').boundingClientRect()
      query.selectViewport().scrollOffset();
      query.exec((res)=>{
        this.scrollHeight = res[0].top*pxToRpxScale;
      })
      query.selectViewport().scrollOffset();
      query.select('.stores').boundingClientRect((res)=>{
        this.storesTop = res.top;
      }).exec();
      query.select('.instructions').boundingClientRect((res)=>{
        this.instructionsTop = res.top;
      }).exec();
      query.select('.goods').boundingClientRect((res)=>{
        this.goodsTop = res.top;
      }).exec();
    }
  },
  watch:{
    textHtml(){
      this.refishHeight();
    },
    imgHtml(){
      this.refishHeight();
    }
  },
  async onLoad(option){
    await this.getDetail({
      shareUserId:null,
      shareId:"",
      goodId:Number(option.goodId)
    });
    //继续请求html
    let resutl =  await request.get(this.detail.knowUrl);
    this.textHtml = resutl;
    let imgHtml = await request.get(this.detail.detailUrl);
    this.imgHtml = imgHtml;
    //获取门店
    this.getInstructions();
  },
}
</script>

<style scoped lang='scss'>
.detail{
  width: 100%;
  .swiper_count{
    width: 100%;
    height: 688rpx;
    .swiper_item{
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.detail .count{
  width: 100%;
  padding: 20rpx;
  background: #eee;
  box-sizing: border-box;
}
.tatil{
  display: flex;
  align-items: center;
  height: 100rpx;
  .price{
    flex: 1;
    display: flex;
    height: 100%;
    background: red;
    align-items: center;
    color: #fff;
    strong {
      color: #fff;
      font-size: 50rpx;
    }
    span {
      text-decoration:line-through;
      color: #ccc;
    }
  }
  .sales{
    background: pink;
    height: 100%;
    width: 30%;
    text-align: center;
    font-size:25rpx;
    p:first-child {
      margin-top:20rpx;
    }
  }
}
.title_count,.tabs,.instructions,.goods{
  margin: 10rpx auto 0;
  background: #fff;
  padding: 40rpx 30rpx;
  box-sizing: border-box;
  border-radius: 10rpx;
}
.title{
    display: flex;
    span {
      font-weight: 900;
      padding: 0 9rpx 0 0;
    }
    div{
      margin-right: 30rpx;
      margin-top: 5rpx;
    }
    .iconfont{
      font-size: 55rpx;
      text-align: center;
    }
    p{
      font-size: 26rpx;
    }
}
.tab_title{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  background: #fff;
  padding: 30rpx 0 20rpx;
  border-bottom: 2rpx solid #eee;
}
// 门店排版
.stores{
  .stores_item{
    p {
      padding: 20rpx 0;
    }
  }
  .stores_item p:nth-child(1){
    font-size: 35rpx;
  }
  .stores_item p:nth-child(3){
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #ccc;
  }
  h2{
    font-size: 37rpx;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 35rpx 0;
    span {
      font-weight: normal;
      color: #ccc;
    }
  }
}
</style>