* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  // color: #000;
  .frame {
    // width: 95%;
    padding: 10px 15px;
    box-sizing: border-box;
    // height: 160px;
    border-bottom: 1px solid var(--border-color);
    margin: 0px auto;
    background-color: var(--bg-second);
    :hover .frametop {
      color: var(--primary-color);
    }
    .k {
      width: 1%;
    }
    .frametop {
      height: 25px;
      display: flex;
      font-weight: 800;
      font-size: 16px;
      color: var(--main-text-color);
    }
    .framebottom {
      //   height: 110px;
      display: flex;
      margin-top: 10px;
      color: var(--main-text-color);
      .img {
        // margin-right: 20px;
        img {
          width: 190px;
          height: 110px;
        }
      }
      & > div:nth-of-type(2) {
        flex: 1;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
      }
    }
    .frameright {
      color: var(--main-text-color);
      //   line-height: 150px;
      span:nth-child(1) {
        margin-right: 5px;
      }
      span:nth-child(2) {
        margin-right: 5px;
      }
    }
  }
  .codeimg {
    width: 100%;
    height: 123px;
    line-height: 28px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .codecop {
    display: flex;
    margin-top: 65px;
  }
}
