* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.fixed {
  position: fixed;
  transform: translate(0, 190px);
  max-width: max(320px, 304px);
}
.frame {
  width: 100%;
  height: 304px;
  background: var(--bg-second);
  margin-top: 15px;
  transition: all 0.5s;
  .frametop {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--border-color);
    font-weight: 800;
    line-height: 50px;
    color: var(--main-text-color);
    span {
      margin-left: 10px;
    }
  }
  .ul {
    width: 100%;
    height: 254px;
    li {
      width: 90%;
      height: 37px;
      margin: 0px auto;
      line-height: 37px;
      margin-top: 5px;

      a {
        color: var(--main-text-color);
      }
      span:nth-child(1) {
        float: left;
      }
      span:nth-child(2) {
        float: right;
      }
    }
    a:hover {
      color: var(--primary-color);
    }
  }
}
