@media (max-width: 768px){
  .loginLayout {
      width: 90%;
  }
}
@media (min-width: 768px){
  .loginLayout {
      width: 80vw;
  }
}
.loginLayout{
  position: fixed;
  flex-flow: row wrap;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 8px #f0f1f2;
  border-radius: 4px;
  display: flex!important;
  .images{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 2rem;
    position: relative;
    min-height: 1px;
    flex: 0 0 50%;
    max-width: 50%;
    background: #fff;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .form {
    display: flex;
    position: relative;
    background: #f7fafb;
    align-items: center;
    padding: 2rem;
  }
}
