.inp{
    width: 100%;
    height: 100%;
    padding: 24px 12px;
    background-color: var(--bg);
    min-width: 708px;
    margin: 12px 0;
}
.drawer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    div{
        margin: 10px 0;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        &:nth-of-type(3){
            display: flex;
            flex-flow: column nowrap;
            &:nth-child(3){
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                // align-items: center;
                padding: 0 24px;
                span{
                    flex: auto;
                }
                div{
                    display: flex;
                    flex-flow: column nowrap;
                }
            }
        }
        
    }
    img{
        width: 100%;
        height: 100%;
        max-height: 360px;
    }
}
.img{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 708px;
    background-color: var(--bg);
    max-width: 100%;
    & div:nth-child(1){
        width: 100%;
        height: 65%;
        img{
            flex: 1;
            height: 100%;
        }
    }
    div:nth-child(2){
        width: 100%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    
    
}
.pageindex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: var(--bg);
    padding: 12px 0;
}