.crumbstop {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  background: var(--bg-body);
  .crumbst {
    // margin-left: 64px;
    span {
      color: var(--main-text-color);
    }
  }
  span {
    a {
      color: var(--main-text-color);
    }
  }
}
.home {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background: var(--bg-body);
  justify-content: center;
  .crumbsLeft {
    width: 100%;
    .lefttop {
      header {
        font-weight: 800;
        font-size: 16px;
        color: var(--main-text-color);
      }
    }
    .leftcenter {
      width: 100%;
      background: var(--bg-second);
      margin-top: 15px;
      .centerframe {
        width: 100%;
        height: 401px;
        padding: 0 15px;
        .frametop {
          // width: 97%;
          height: 255px;
          // margin-left: 0.9rem;
          img {
            width: 100%;
            height: 100%;
            margin-top: 25px;
          }
        }
        .framebottom {
          // width: 97%;
          height: 129px;
          margin-top: 30px;
          text-align: center;
          p:nth-child(1) {
            font-weight: 800;
            font-size: 16px;
            color: var(--main-text-color);
          }
          p:nth-child(3),
          p:nth-child(2) {
            font-size: 15px;
            color: var(--main-text-color);
          }
          button {
            width: 88px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            background: var(--primary-color);
            border: none;
            outline: none;
            color: var(--main-text-color);
          }
        }
      }
      .ul {
        width: 97%;
        height: 100%;
        margin-left: 0.9rem;
        padding: 50px 0 10px 0;
        li {
          width: 100%;
          height: 44px;
          line-height: 44px;
          padding-right: 5px;
          box-sizing: border-box;
          cursor: pointer;
          span:nth-child(1) {
            float: left;
          }
          span:nth-child(2) {
            float: right;
            opacity: 0;
          }
          a {
            color: var(--main-text-color);
          }
        }
        li:hover {
          background: #e7eaee;
        }
        li:hover a {
          color: var(--primary-color);
        }
        li:hover span:nth-child(2) {
          opacity: 1;
          display: inline-block;
          transition: all 1s;
        }
      }
    }
  }
  .knowledgeRight {
    margin-top: 42px;
    margin-left: 21px;
  }
  .rightTitle {
    font-size: 16px;
    font-weight: 800;
    color: var(--main-text-color);
  }
  .Right {
    background: #fff;
    margin-top: 0.9rem;
    margin-bottom: 30px;
    .frame {
      width: 95%;
      height: 160px;
      border-bottom: 1px solid #ccc;
      margin: 0px auto;
      :hover .frametop {
        color: var(--primary-color);
      }
      .k {
        width: 1%;
      }
      .frametop {
        height: 25px;
        display: flex;
        font-weight: 800;
        font-size: 16px;
        color: var(--main-text-color);
      }
      .framebottom {
        height: 110px;
        display: flex;
        margin-top: 10px;
        color: var(--main-text-color);
        .img {
          margin-right: 20px;
          img {
            width: 190px;
            height: 110px;
          }
        }
      }
      .frameright {
        color: rgba(0, 0, 0, 0.719);
        line-height: 20px;
        span:nth-child(1) {
          margin-right: 5px;
        }
        span:nth-child(2) {
          margin-right: 5px;
        }
      }
    }
  }
}

/*小屏幕*/
@media screen and (max-width: 768px) {
  .left{
    width: 90%;
  }
  .height{
    justify-content: space-around;
  }
  .right {
    display: none;
  }
}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
  .left{
    width: 53%;
    margin-left: 64px;
  }
  .right {
    width: 40%;
    margin-right: 64px;
  }
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
  .left{
    width: 55%;
    margin-left: 64px;
  }
  .right {
    width: 30%;
    margin-right: 64px;
  }
}
/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
  .left{
    width: 53%;
    margin-left: 64px;
  }
  .right {
    width: 20rem;
    margin-right: 64px;
  }
}
