.top {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  .left {
    display: flex;
    input {
      margin-left: 10px;
    }
  }
  .right {
    button {
      margin-right: 20px;
    }
  }
}
