<template>
  <div class="discounts">
    <div class="page">
      <!-- 头部 -->
      <div class="header">
        <span>{{ appList.actcity.name }}</span>
        <p>搜索好物</p>
      </div>
      <!-- 轮播图 -->
      <swiper
        :autoplay="true"
        :circular="true"
        :interval="appList.page[1].params.changetime * 1000"
      >
        <swiper-item v-for="item in appList.page[1].params.data" :key="item.id">
          <image :src="item.img" mode="widthFix" />
        </swiper-item>
      </swiper>
    </div>
    <!-- 导航 -->
    <div class="nav">
      <ul class="ul">
        <li v-for="item in appList.page[2].params.data" :key="item.id">
          <image :src="item.img" mode="widthFix" />
          <p>{{ item.title }}</p>
        </li>
      </ul>
      <!-- 新品推荐 -->
      <div class="goods">
        <ul>
          <p>{{ appList.page[3].params.content }}</p>
          <scroll-view scroll-x="true" style="width: 100%">
            <li v-for="item in appList.page[3].params.data" :key="item.id">
              <image :src="item.thumb" />
              <div class="discribe">
                <p class="title">
                  <span
                    class="new"
                    v-if="time(new Date()) == time(item.online_time)"
                    >新品</span
                  >
                  {{ item.title }}
                </p>
                <p :style="{ color: appList.page[3].params.rfontcolor }">
                  <span>{{ item.ncon }}</span>
                  <span>{{ item.saled }}</span>
                </p>
                <p>
                  <span
                    :style="{
                      'font-size': appList.page[3].params.size + 'px',
                      color: 'red',
                    }"
                    >￥{{ Number(item.show_price).toFixed(1) }}</span
                  >
                  <span
                    :style="{
                      color: '#ccc',
                      'text-decoration': 'line-through',
                      'font-weight': 600,
                    }"
                    >￥{{ item.oldprice }}</span
                  >
                </p>
              </div>
            </li>
          </scroll-view>
        </ul>
      </div>
      <!-- 超值套餐 -->
      <div class="extra">
        <ul>
          <p>
            <span>{{ appList.page[4].params.content }}</span>
            <span>{{ appList.page[4].params.rightfont }}</span>
          </p>
          <scroll-view scroll-x="true" style="width: 100%">
            <li v-for="item in appList.page[4].params.data" :key="item.id">
              <image :src="item.thumb" />
              <div class="discribe">
                <p class="title">
                  <span
                    class="new"
                    v-if="time(new Date()) == time(item.online_time)"
                    >新品</span
                  >
                  {{ item.title }}
                </p>
                <p :style="{ color: appList.page[4].params.rfontcolor }">
                  <span>{{ item.ncon }}</span>
                  <span>{{ item.saled }}</span>
                </p>
                <p>
                  <span
                    :style="{
                      'font-size': appList.page[4].params.size + 'px',
                      color: 'red',
                    }"
                    >￥{{ Number(item.show_price).toFixed(1) }}</span
                  >
                  <span
                    :style="{
                      color: '#ccc',
                      'text-decoration': 'line-through',
                      'font-weight': 600,
                    }"
                    >￥{{ item.oldprice }}</span
                  >
                </p>
              </div>
            </li>
          </scroll-view>
        </ul>
      </div>
    </div>
    <!-- 新品推荐 -->
    <!-- <div class="goods">
      <ul>
        <p>{{ appList.page[3].params.content }}</p>
        <scroll-view scroll-x="true" style="width: 100%">
          <li v-for="item in appList.page[3].params.data" :key="item.id">
            <image :src="item.thumb" />
            <div class="discribe">
              <p class="title">
                <span class="new">新品</span>
                {{ item.title }}
              </p>
              <p :style="{ color: appList.page[3].params.rfontcolor }">
                <span>{{ item.ncon }}</span>
                <span>{{ item.saled }}</span>
              </p>
              <p>
                <span
                  :style="{
                    'font-size': appList.page[3].params.size + 'px',
                    color: 'red',
                  }"
                  >￥{{ Number(item.show_price).toFixed(1) }}</span
                >
                <span
                  :style="{
                    color: '#ccc',
                    'text-decoration': 'line-through',
                    'font-weight': 600,
                  }"
                  >￥{{ item.oldprice }}</span
                >
              </p>
            </div>
          </li>
        </scroll-view>
      </ul>
    </div> -->
    <!-- 超值套餐 -->
    <!-- <div class="extra">
      <ul>
        <p>
          <span>{{ appList.page[4].params.content }}</span>
          <span>{{ appList.page[4].params.rightfont }}</span>
        </p>
        <scroll-view scroll-x="true" style="width: 100%">
          <li v-for="item in appList.page[4].params.data" :key="item.id">
            <image :src="item.thumb" />
            <div class="discribe">
              <p class="title">
                <span class="new">新品</span>
                {{ item.title }}
              </p>
              <p :style="{ color: appList.page[4].params.rfontcolor }">
                <span>{{ item.ncon }}</span>
                <span>{{ item.saled }}</span>
              </p>
              <p>
                <span
                  :style="{
                    'font-size': appList.page[4].params.size + 'px',
                    color: 'red',
                  }"
                  >￥{{ Number(item.show_price).toFixed(1) }}</span
                >
                <span
                  :style="{
                    color: '#ccc',
                    'text-decoration': 'line-through',
                    'font-weight': 600,
                  }"
                  >￥{{ item.oldprice }}</span
                >
              </p>
            </div>
          </li>
        </scroll-view>
      </ul>
    </div> -->
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { time } from "@/utils/time";
export default {
  data() {
    return {
      time,
    };
  },
  // 获取仓库数据
  computed: {
    ...mapState({
      appList: (state) => state.discounts.appList,
    }),
  },
  // 映射仓库请求
  methods: {
    ...mapActions({
      getAppList: "discounts/getAppList",
    }),
  },
  created() {
    this.getAppList();
  },
};
</script>

<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-shadow: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.discounts {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 263px;
  position: relative;
  .header {
    width: 100%;
    padding: 6% 2% 2% 2%;
    position: absolute;
    left: 0;
    top: 0;
    background: #e8443d;
    color: #f7f6f9;
    display: flex;
    align-items: center;
    z-index: 999;
    p {
      width: 60%;
      height: 30px;
      background: rgba($color: white, $alpha: 0.7);
      color: #f7f6f9;
      border-radius: 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-left: 4%;
      padding-left: 5%;
    }
  }
  swiper {
    width: 100%;
    height: 100%;
    swiper-item {
      width: 100%;
      height: 100%;
      image {
        width: 100%;
      }
    }
  }
}
.nav {
  background: #eee;
  padding: 0 10px;
  height: 605px;
  .ul {
    position: relative;
    top: -35px;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    li {
      text-align: center;
      image {
        width: 40px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .goods,
  .extra {
    position: relative;
    top: -35px;
    display: flex;
    flex-flow: column wrap;
    background: #eee;
    ul {
      width: 100%;
      height: 100%;
      background: white;
      display: flex;
      flex-flow: column wrap;
      box-sizing: border-box;
      border-radius: 10px;
      padding-bottom: 10px;
      // box-sizing: border-box;
      & > p {
        padding: 10px 15px 10px 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        span:nth-of-type(2) {
          font-size: 14px;
        }
      }
      scroll-view {
        white-space: nowrap;
        li {
          display: inline-block;
          width: 35%;
          margin-left: 15px;
          border-radius: 10px 10px 0 0;
          overflow: hidden;
          background: white;
          box-shadow: 0 0 5px #ccc;
          image {
            width: 100%;
            height: 130px;
          }
          .discribe {
            width: 100%;
            font-size: 12px;
            padding: 0 9px 7px 9px;
            box-sizing: border-box;
            .title {
              white-space: pre-wrap;
              text-overflow: -o-ellipsis-lastline;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
              font-size: 14px;
              .new {
                padding: 0px 2px;
                box-sizing: border-box;
                font-size: 12px;
                color: white;
                background: linear-gradient(to right, orange, rgb(255, 217, 0));
                border-radius: 3px;
              }
            }
            p:nth-of-type(2) {
              display: flex;
              padding: 5px 0;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
</style>
