// /*小屏幕*/
@media screen and (max-width: 768px) {
  .msgboard {
    width: 93%;
    margin: 0 auto;
  }
}
// /*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
  .msgboard {
    width: 80%;
    margin: 0 auto;
  }
}
// /*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
  .msgboard {
    width: 80%;
    margin: 0 auto;
  }
}
// /*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
  .msgboard {
    width: 60%;
    margin: 0 auto;
  }
}
.bg{
  background-color: var(--bg-body);
  .top{
    width: 100%;
    background: var(--bg);
    border-bottom: 1px solid var(--border-color);
    padding: 25px 0;
    color: var(--main-text-color);
    h2{
      color: var(--main-text-color);
    }
  }
}
.msgboard{
  background: var(--bg-body);
}
.message{
  box-sizing: border-box;
  background-color: var(--bg-body);
  .messageMain{
    margin: 0 auto;
    h3{
      color: var(--main-text-color);
    }
  }
}