body,html,#root {
  width: 100%;
  height: 100%;
}
body {
  --aside-padding-horizontal: 16px;
  --primary-color: #4299e1;
  --link-color: #4299e1;
  --border-radius: 4px;
  --bg: #fff;
  --bg-second: #fff;
  --rgb-bg-second: 255,255,255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #f8f8f8;
  --blockquote-color: #fff;
  --main-text-color: rgba(0,0,0,0.85);
  --second-text-color: rgba(0,0,0,0.65);
  --disable-text-color: rgba(0,0,0,0.35);
  --border-color: rgba(178,186,194,0.15);
  --box-shadow: 0 1px 3px rgb(18 18 18/10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-btn-disable-bg: #f5f5f5;
}
// 覆盖Nprogress的背景色
#nprogress div.bar{
  background: #ff0000;
}
/*整个滚动条*/
::-webkit-scrollbar {

  width: 5px;
  
  height: 8px;
  
  background-color: #fff;
  
}
  
/*定义滚动条轨道*/
  
::-webkit-scrollbar-track {
  
  background-color: #fff;
  
}
  
/*定义滑块*/
  
::-webkit-scrollbar-thumb {
  
  background-color: #ACB1BF;
  
  border-radius: 4px;
  
}