*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.advanced_search{
    background: var(--bg-second);
    padding: 2% 1%;
    .note{
        display: flex;
    }
}
.footerall{
    padding: 2% 1%;
    background: #fff;
    margin-top: 20px;
    min-height: 285px;
}
