.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
  }

.box{
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    width: 20rem;
    .shang{
        padding: 1rem;
        border-bottom: 1px solid var(--border-color);
        color: var(--main-text-color);
        font-weight: 700;
    }
    .inne{
        position: relative;
        
        .antSpinContainer_essay{
            position: relative;
            transition: opacity .3s;
            ul {
                padding: 0 1rem 1rem;
                overflow: hidden;
                    li:nth-child(1){
                        animation:clien1 0.3s linear 0.1s 1 normal forwards;
                    }
                    li:nth-child(2){
                        animation:clien2 0.3s linear 0.2s 1 normal forwards;
                    }
                    li:nth-child(3){
                        animation:clien3 0.3s linear 0.3s 1 normal forwards;
                    }
                    li:nth-child(4){
                        animation:clien4 0.3s linear 0.4s 1 normal forwards;
                    }
                    li:nth-child(5){
                        animation:clien5 0.3s linear 0.5s 1 normal forwards;
                    }
                    li:nth-child(6){
                        animation:clien6 0.3s linear 0.6s 1 normal forwards;
                    }
                }
                li {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    padding-top: 1rem;
                    color: var(--second-text-color);
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    margin-left: -15px;
                    
                    
                    a {
                        color: var(--main-text-color);
                        :hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        };
        .antSpinContainer_knowledge{
            position: relative;
            transition: opacity .3s;
            ul {
                padding: 0 1rem 1rem;
                overflow: hidden;
                height: 100%;
                max-height: 259px;
                overflow-y:auto;
                }
                li {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    padding-top: 1rem;
                    color: var(--second-text-color);
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    a {
                        color: var(--main-text-color);
                        :hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    
    
@keyframes clien1{
   
    100%{
       margin-left: 0px;
    }
}
@keyframes clien2{
    
    100%{
       margin-left: 0px;
    }
}
@keyframes clien3{
   
    100%{
       margin-left: 0px;
    }
}
@keyframes clien4{
    
    100%{
       margin-left: 0px;
    }
}
@keyframes clien5{
    100%{
       margin-left: 0px;
    }
}
@keyframes clien6{
   
    100%{
       margin-left: 0px;
    }
}
