.collection {
  position: fixed;
  z-index: 10;
  top: 30vh;
  padding-right: 10px;
  left: 1rem;
  .like,.message,.share {
    display: flex;
    justify-content: center;
    align-items: center;  
    span {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: var(--main-text-color);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      display: inline-block;
      line-height: 1;
      .picture{
        width: 32px;
        height: 32px;
        font-size: 22px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-second);
        color: var(--disable-text-color);
      }
      sup {
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
        transform-origin: 100% 0;
        overflow: hidden;
        min-width: 14px;
        height: 14px;
        padding: 0;
        font-size: 12px;
        line-height: 14px;
        border-radius: 7px;
        padding: 0 8px;
        p,span {
          color: var(--bg);
        }
      }
    }
  }
  .message{
    width: 32px;
    height: 32px;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-second);
    color: var(--disable-text-color);
    margin-top: 1rem;
  }
  .share{
    margin-top: 1rem;
    span {
      div{
        width: 32px;
        height: 32px;
        font-size: 22px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-second);
        color: var(--disable-text-color);
      }
    }
  }
}