<template>
  <div class="class_all">
    <Swiper :swiperList="swiperList"/>
    <div class="all">
      <div class="class_icon" @click="linebtn()">
        <img src="https://m.mwfile.cn/mm1015/image/20201230/132308_10b5fe9c82.png" alt />
        <p>排队取号</p>
      </div>
      <div class="class_icon" @click="orderbtn()">
        <img src="https://m.mwfile.cn/mm1015/image/20210806/145604_48448eb618.png" alt />
        <p>预约订座</p>
      </div>
      <div class="class_icon" @click="volumebtn()">
        <img src="https://m.mwfile.cn/mm1015/image/20210309/190333_6bf7a20939.gif" alt />
        <p>9.9元抢卷</p>
      </div>
      <div class="class_icon" @click="tastybtn()">
        <img src="https://m.mwfile.cn/mm1015/image/20210209/171015_dfbc6e8a04.png" alt />
        <p>美味心选</p>
      </div>
      <div class="class_icon" @click="varybtn()">
        <img src="https://m.mwfile.cn/mm1015/image/20201230/132330_66444c74a8.png" alt />
        <p>不等位餐厅</p>
      </div>
    </div>
    <TimeLimit :list="data_List[1]"/>
    <div class="class_img">
      <div>
        <img :src="data_List[0].listData[0].items64[0][0].image" alt />
      </div>
      <div>
        <img :src="data_List[0].listData[0].items64[1][0].image" alt />
        <img :src="data_List[0].listData[0].items64[2][0].image" alt />
      </div>
    </div>
    <div class="class_list">
      <div v-for="(item,index) in data" :key="index">
        <span @click="uid=index" :class="index===uid?'active':''">{{item.name}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import TimeLimit from "@components/TimeLimit";
import Swiper from '@components/Swiper'
export default {
  data() {
    return {
      uid:0
    }
  },
  computed:{
    ...mapState({
      data:state=>state.find_house.data,
      data_List:state=>state.find_house.data_list,
      data_query:state=>state.find_house.data_query,
      swiperList:state=>state.find_house.swiperList
    })
  },
  methods: {
    ...mapActions({
      goodList:'find_house/goodList',
      operatList:'find_house/operatList',
      queryList:'find_house/queryList',
      getSwiperList:'find_house/getSwiperList'
    }),
    linebtn() {
      wx.navigateTo({
        url: `/pages/index/line/index?src=${encodeURIComponent(
          "https://m.mwee.cn/c_webapp/queuelist?cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=39.95933&longitude=116.29845&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqt4soPdgfut0HMu4OY-Blspz8SWNX-CX-CchY-BMy1GIxn8gxLKDhXlyOGjb7HGz1KQDwBU5xKUboUlYnXVbzdKM3Rg0yO6U7SVMivlzaqNGEzPRk3AoijEzWVfO3RyAR68Nw5FbX-CFrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini&type=hot"
        )}`
      });
    },
    orderbtn() {
      wx.navigateTo({
        url: `/pages/index/order/index?src=${encodeURIComponent(
          "https://m.mwee.cn/c_webapp/booklist?cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=39.95933&longitude=116.29845&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqt4soPdgfut0HMu4OY-Blspz8SWNX-CX-CchY-BMy1GIxn8gxLKDhXlyOGjb7HGz1KQDwBU5xKUboUlYnXVbzdKM3Rg0yO6U7SVMivlzaqNGEzPRk3AoijEzWVfO3RyAR68Nw5FbX-CFrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini"
        )}`
      });
    },
    volumebtn() {
      wx.switchTab({ url: "/pages/discounts/index" });
    },
    tastybtn() {
      wx.navigateTo({
        url: `/pages/index/tasty/index?src=${encodeURIComponent("")}`
      });
    },
    varybtn() {
      wx.navigateTo({
        url: `/pages/index/vary/index?src=${encodeURIComponent(
          "https://m.mwee.cn/c_webapp/queuelist?cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=39.95933&longitude=116.29845&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqt4soPdgfut0HMu4OY-Blspz8SWNX-CX-CchY-BMy1GIxn8gxLKDhXlyOGjb7HGz1KQDwBU5xKUboUlYnXVbzdKM3Rg0yO6U7SVMivlzaqNGEzPRk3AoijEzWVfO3RyAR68Nw5FbX-CFrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini&type=nowaiting"
        )}`
      });
    }
  },
  created() {
    this.goodList()
    this.operatList()
    this.queryList()
    this.getSwiperList();
  },
  components:{
    TimeLimit,
    Swiper
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.class_all {
  width: 100%;
  height: 100%;
}
.all {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}
.class_icon p {
  font-size: 13px;
}
.class_icon img {
  width: 30px;
  height: 30px;
}
.class_img {
  width: 95%;
  height: 240px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
}
.class_img div:nth-child(1) img {
  width: 175px;
  height: 100%;
  border-radius: 5px;
}
.class_img div:nth-child(2) img {
  width: 170px;
  height: 116px;
  margin: 1.5px 8px;
  border-radius: 5px;
}
.class_list{
  width: 95%;
  height: 60px;
  line-height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.class_list div span{
  display: inline-block;
  height: 50px;
}
.class_list div span.active{
  color: #f00;
  border-bottom: 3px solid #f00;
}
</style>