* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  .all {
    width: 100%;
    height: 350px;
    .frame {
      height: 100%;
      margin: 0px auto;
      .left {
        height: 100%;
        .swiperframe {
          width: 100%;
          height: 332px;
          background: var(--bg-second);
          .contentStyle {
            height: 160px;
            color: var(--blockquote-color);
            line-height: 160px;
            text-align: center;
          }
          .swiper {
            width: 98%;
            height: 332px;
            margin: 0px auto;

            .swiperi {
              height: 316px;
              margin-top: 10px;
              position: relative;

              img {
                width: 100%;
                height: 100%;
              }
              .mc {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.35);
                position: absolute;
                top: 0;
                left: 0;
              }
              .sizeframe {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                a {
                  color: var(--blockquote-color);
                  h2 {
                    color: var(--blockquote-color);
                    font-size: 25px;
                  }
                  span {
                    font-size: 17px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
