@import "../global.less";
* {
  margin: 0;
  padding: 0;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}
.ant-menu-dark .ant-menu-item-selected .ant-menu-title-content{
  color: #1890ff !important
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #f0f2f5;
  display: flex;
  justify-content: space-between;
  padding:16px 16px;
  height: auto;
  background:#fff;
  font-size: 14px;
  align-items: center;
  .login {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    .anticon-github{
      vertical-align: top;
      margin-right: 12px;
    }
    .userName{
      display: inline-block;
    }
  }
}