.article{
  
}

.searchResultList{
  background: var(--bg);
  background: rgb(255, 255, 255);
  padding: 24px 12px;
  .btn{
    button {
      margin-right: 8px;
    }
  }
  .newestablish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.1em;
  }
}