
.dd{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 12px;
    :hover{
        color: var(--primary-color);
    }
    .h2{
        position: relative;
    }
    .h2::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        margin-top: -2px;
        width: 6px;
        height: 6px;
        background-color: var(--primary-color);
        border-radius: 50%;
    }
    .h3{
        position: relative;
        margin-left: 15px;
    }
    .h3::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        margin-top: -2px;
        width: 5px;
        height: 5px;
        background-color: var(--primary-color);
        border-radius: 50%;
    }
    .h4{
        position: relative;
        margin-left: 25px;
    }
    .h4::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        background-color: var(--primary-color);
        border-radius: 50%;
    }
    
}