.editor{
  display: flex;
  flex-direction: column;
  background-color: #f4f5f5;
  header{
    background-color: #fff;
    z-index: 1000;
    .site-page-header {
      border: 1px solid rgb(235, 237, 240);
    }
  }
}