* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header {
  background-color: var(--bg);
}
.table{
  background-color: var(--bg);
  margin-top: 15px;
  padding: 0 15px;
  padding-top: 20px;
}
.tableAction{
  width: 100%;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  .left{
    button{
      margin-right: 8px;
    }
  }
  .right{
    &>span{
      margin-left: 12px;
    }
  }
}
:global {
  [data-theme='compact'] .ant-advanced-search-form,
  .ant-advanced-search-form {
    padding: 24px;
    // background: #fbfbfb;
    // border: 1px solid red;
    border-radius: 2px;
  }

  [data-theme='compact'] .ant-advanced-search-form .ant-form-item,
  .ant-advanced-search-form .ant-form-item {
    display: flex;
  }

  [data-theme='compact']
    .ant-advanced-search-form
    .ant-form-item-control-wrapper,
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }
}
