<script>
	export default {
		onLaunch: function() {
      console.log("我只触发一次")
			// wx.navigateTo({
			// 	url:"/pages/ck/index"
			// })
		},
		onShow: function() {
      console.log("页面出现触发");
		},
		onHide: function() {
			console.log('页面隐藏触发')
			wx.navigateTo("/pages/ck/index")
		}
	}
</script>

<style>
	/*每个页面公共css */
</style>
