@import "../global.less";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.main {
  width: 100%;
}
nav {
  position: relative;
  width: 100%;
  height: 64px;
  transition: all 0.3s ease-in-out;
}
