footer{
  color: var(--disable-text-color);
  .reply{
    cursor: pointer;
    margin-left: 8px;
    .anticonMessage{
      display: inline-block;
      color: inherit;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -.125em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
  }
  .reply:hover{
    color: var(--primary-color);
  }
}