@import './assets/markdown.less';
body{
    --primary-color: #ff0064;
    --sun-color: #eec413;
    --link-color: #4299e1;
    --border-radius: 2px;
    --bg: #fff;
    --bg-second: #fff;
    --rgb-bg-second: 255,255,255;
    --bg-body: #e7eaee;
    --bg-footer: #292525;
    --bg-code: #f8f8f8;
    --blockquote-color: #fff;
    --main-text-color: #000000d9;
    --second-text-color: #000000a6;
    --disable-text-color: #00000059;
    --border-color: #f0f2f7;
    --box-shadow: 0 1px 3px rgb(18 18 18/10%);
    --scrollbar-bg: #dadada;
    --comment-editor-border-color: #d9d9d9;
    --comment-editor-disable-bg: #f5f5f5;
}
body.dark {
    --sun-color: #e684af;
    --bg: #282c35;
    --bg-second: #363c48;
    --rgb-bg-second: 54,60,72;
    --bg-body: var(--bg);
    --bg-footer: var(--bg);
    --bg-code: rgba(115,124,153,0.2);
    --blockquote-color: #fff;
    --main-text-color: hsla(0,0%,100%,0.85);
    --second-text-color: hsla(0,0%,100%,0.65);
    --disable-text-color: hsla(0,0%,100%,0.45);
    --border-color: hsla(0,0%,100%,0.2);
    --box-shadow: 0 2px 15px 0 rgba(26,26,27,0.637);
    --scrollbar-bg: var(--bg-second);
    --comment-editor-border-color: var(--border-color);
    --comment-editor-disable-bg: var(--border-color);
}

// 覆盖Nprogress的背景色
#nprogress div.bar{
    background: #ff0000;
}
/*整个滚动条*/
::-webkit-scrollbar {
  
    width: 5px;
    
    height: 8px;
    
    background-color: #fff;
    
  }
    
  /*定义滚动条轨道*/
    
  ::-webkit-scrollbar-track {
    
    background-color: #fff;
    
  }
    
  /*定义滑块*/
    
  ::-webkit-scrollbar-thumb {
    
    background-color: #ACB1BF;
    
    border-radius: 4px;
    
  }