.head {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  padding: 0 9% 0 4.1%;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg);
  .left {
    width: 164px;
    height: 100%;
    line-height: 64px;
    img {
      width: 100px;
    }
  }
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    ul {
      width: 66%;
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      li {
        font-size: 16px;
        margin: 0 20px;
        cursor: pointer;
        white-space: nowrap;
        color: var(--main-text-color);
      }
      li.active {
        color: var(--primary-color);
      }
      li:hover {
        color: var(--primary-color);
      }
    }
    .action {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      color: var(--main-text-color);
      svg {
        font-size: 24px;
        margin-left: 30px;
      }
      &>svg:hover {
        color: var(--primary-color);
      }
    }
  }
  .menu {
    color: var(--primary-color);
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 23%;
    transform: translateX(-50%);
    display: none;
  }
  .search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    z-index: 999;
    .main {
      width: 70%;
      height: 100%;
      margin: 0 auto;
      .main_top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        margin-bottom: 12px;
        h1 {
          font-size: 1.5rem;
          font-weight: 600;
        }
        span {
          color: var(--disable-text-color);
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .head {
    .right {
      display: none;
    }
    .menu {
      display: inline-block;
    }
  }
  .ant-dropdown {
    width: 100%;
    left: 0 !important;
    top: 64px !important;
    ul {
      li {
        text-align: center;
        margin: 10px 0;
        font-size: 16px;
        font-size: 16px;
        cursor: pointer;
      }
      li.active {
        color: var(--primary-color);
      }
      li:hover {
        color: var(--primary-color);
      }
    }
  }
}
.ant-space {
  width: 100%;
}
.list {
  overflow-y: auto !important;
  p {
    height: 30px;
    margin: 0;
    line-height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    a {
      color: var(--disable-text-color);
    }
  }
  p:hover {
    cursor: pointer;
    background-color: var(--bg);
  }
}
.list::-webkit-scrollbar {
  width: 1px;
  height: 0px;
}
